@model ICollection<Employee>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Position</th>
                <th scope="col">Image</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Firstname</td>
                    <td>@item.Lastname</td>
                    <td>@item.PositionId</td>
                    <td><img style="width: 40px" src="~/assets/images/blog/@item.Image" /></td>
                    <td><a asp-controller="employee" asp-action="update" asp-route-id="@item.Id"><i class="far fa-pen-to-square"> </i></a></td>
                    <td><a asp-controller="employee" asp-action="remove" asp-route-id="@item.Id"><i class="fas fa-trash-can"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="employee" asp-action="create" class="btn btn-success">Create employee</a>
</div>
